.event-list-container {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .event-list-title {
    text-align: center;
    color: #333;
  }
  
  .event-list {
    list-style-type: none;
    padding: 0;
  }
  
  .event-list-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .event-title {
    color: #333;
    font-size: 1.5em;
  }
  
  .event-description {
    color: #777;
  }
  
  .event-date {
    color: #555;
    font-size: 1em;
  }
  
  .event-creator {
    color: #888;
    font-style: italic;
  }
  
  .no-events-message {
    text-align: center;
    color: #888;
  }
  